.title-p {
    font-size: 50px;
    color: #303030;
    font-family: var(--bebas);
    margin-top: -10px;
    margin-bottom: 100px;
}
.full-name-sec {
    display: flex;
    gap: 50px;
}
form {
    width: 75%;
}
.inputBlock {
    flex: 1 0 0;
    margin-bottom: 30px;
}
.inputBlock h5 {
    font-family: var(--bebas);
    font-size: 24px;
    color: #707070;
}
.enterHoursBlock h5 {
    font-family: var(--bebas);
    font-size: 24px;
    color: #707070;
}
.inputBlock input {
    width: 100%;
    height: 60px;
    line-height: 60px;
    padding: 0 16px;
    background-color: #fff;
    border: none;
    font-family: var(--roboto);
    font-size: 18px;
    color: rgb(20, 20, 20);
    flex: 1 0 0;
    outline: none;
}

.p-datepicker:not(.p-datepicker-inline) {
    background-color: #2d2d2d;
    font-family: var(--bebas);
}

.p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-year, .p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-month  {
    font-size: 28px;
    font-family: var(--bebas);
    transition: .2s;
    padding: 7px;
    color: white;
}
.p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-year:hover, .p-datepicker:hover .p-datepicker-header .p-datepicker-title .p-datepicker-month:hover {
    color: var(--orange);
}
.p-datepicker table td {
    padding: 12px;
    font-size: 22px;
    color: white;
}
.p-datepicker table th {
    padding: 12px;
    color: white;
    font-size: 24px;
    color: var(--orange);
    letter-spacing: 1.4px;
}
.p-datepicker table th span {
    color: var(--orange);
}
.p-datepicker-decade span {
    color: white;
    font-size: 24px;
}
.p-datepicker .p-component .p-ripple-disabled {
    width: unset;
}
.p-datepicker:not(.p-datepicker-inline) .p-datepicker-header {
    background-color: #2d2d2d;
}

.hours-sec {
    display: flex;
    width: 100%;
    margin-bottom: 30px;
}
.hours-sec .halfHourElement {
    height: 60px;
    flex: 1 0 0;
    background-color: rgb(255, 255, 255);
    border: 1px rgb(177, 177, 177) solid;
}
.halfHourElement.unavailable {
    background-color: rgb(99, 37, 37);
    border: 1px rgb(68, 30, 30) solid;
}
.halfHourElement.picked {
    background-color: var(--orange);
    border: #68350c;
}
.halfHourElement.mid {
    background-color: rgb(245 137 98);
    border: #db7550 1px solid;
}
.halfHourElement.inactive {
    background-color: rgb(126, 126, 126);
    border: rgb(100, 100, 100) 1px solid;
}
.enterHour-dropdown {
    height: 60px;
    line-height: 60px;
    width: 75px;
}
.enterHours-sec {
    display: flex;
    gap: 20px;
}
.enterHours-sec h2 {
    color: white;
    font-size: 28px;
    font-family: var(--bebas);
    line-height: 60px;
}
.material-symbols-outlined {
    color: white;
    font-size: 28px;
    line-height: 91px;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
.next-button-sec{
    height: 60px;
    width: 60px;
    display: flex;
    margin: auto 60px 0;
    background-color: var(--orange);
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.next-button-sec.reversed svg {
    transform: rotate(180deg);
}
.next-button-sec.unavailable {
    background-color: #412d1d;
    cursor: not-allowed;
}
.next-button-sec svg {
    fill: white;
    height: 30px;
    width: 30px;
}
.next-button-sec.unavailable svg {
    fill: #686868;
}
.p-dropdown-label.p-inputtext {
    padding-left: 15px;
}
.timeRange {
    color: var(--orange);
    font-family: var(--bebas);
    font-size: 24px;
    margin: -20px 0 20px;
}
.booking-submit {
    height: 80px;
    padding: 3px 40px 0;
    line-height: 80px;
    margin-top: 30px;
    background-color: var(--orange);
    color: white;
    font-size: 28px;
    border: none;
    font-family: var(--bebas);
}
.booking-submit.disable {
    background-color: #412d1d;
    cursor: not-allowed;
    color: #686868;
}